In [3]:
import pandas as pd

In [6]:
data=pd.read_csv("House.csv")

In [7]:
data

     Bedrooms  Bathrooms  Status  Location   Price  Facing  Type  Size
0           4          0       3        89  119.00       1     0   300
1           4          0       3        78  168.00       1     0   304
2           4          0       3        88  148.00       1     0   257
3           3          0       3        65  162.00       1     0   268
4           4          0       1        82  144.00       1     0   287
..        ...        ...     ...       ...     ...     ...   ...   ...
701         6          0       1       141  300.00       1     0   336
702         4          0       3        83   95.35       1     0   136
703         4          0       3        83   93.31       1     0   131
704         3          0       3        83   77.19       1     0    60
705         4          0       3        83   97.34       1     0   142

[706 rows x 8 columns]